[Desktop Entry]
Comment=Shiny-Global Look And Feel
Name=Shiny-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Shiny-Global
X-KDE-PluginInfo-Version=8.8
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1633303,kns://plasma-themes.knsrc/api.kde-look.org/1633325,kns://aurorae.knsrc/api.kde-look.org/1633300,kns://aurorae.knsrc/api.kde-look.org/1633299,kns://icons.knsrc/api.kde-look.org/1633309,kns://icons.knsrc/api.kde-look.org/1633305,kns://wallpaper.knsrc/api.kde-look.org/1412499,kns://wallpaper.knsrc/api.kde-look.org/1633286,kns://sddmtheme.knsrc/api.kde-look.org/1633297
